src/GSvar/Resources/DiagnosticReport_v2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mit XMLSpy v2014 (x64) (http://www.altova.com) von Dr. Peter Bauer (Universit채tsklinikum T체bingen) bearbeitet -->
<!-- edited with XMLSpy v2014 (x64) (http://www.altova.com) by Dr. Peter Bauer (Universit채tsklinikum T체bingen) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:altova="http://www.altova.com/xml-schema-extensions" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
	<xs:element name="DiagnosticNgsReport">
		<xs:annotation>
			<xs:documentation>Diagnostic NGS report </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ReportGeneration">
					<xs:annotation>
						<xs:documentation>Meta data about the report generation</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="date" type="xs:date" use="required">
							<xs:annotation>
								<xs:documentation>date of report creation</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="user_name" use="required">
							<xs:annotation>
								<xs:documentation>user that created the report</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="software" use="required">
							<xs:annotation>
								<xs:documentation>software that created the report (including version if possible)</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="outcome" use="required">
							<xs:annotation>
								<xs:documentation>Diagnostic outcome.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="n/a"/>
									<xs:enumeration value="no significant findings"/>
									<xs:enumeration value="uncertain"/>
									<xs:enumeration value="significant findings"/>
									<xs:enumeration value="significant findings - second method"/>
									<xs:enumeration value="significant findings - non-genetic"/>
									<xs:enumeration value="candidate gene"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Sample">
					<xs:annotation>
						<xs:documentation>Information about the sample</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="name" use="required">
							<xs:annotation>
								<xs:documentation>sample name</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="name_external">
							<xs:annotation>
								<xs:documentation>external sample name</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string"/>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="processing_system" type="xs:string" use="required">
							<xs:annotation>
								<xs:documentation>processing system name, e.g. 'Panel XY', etc.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="TargetRegion" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Information about the traget region used for the analysis</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Gene" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>List of genes contained in target region.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="name" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation>gene name</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="name" use="required">
							<xs:annotation>
								<xs:documentation>target region name</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="regions" type="xs:int" use="required">
							<xs:annotation>
								<xs:documentation>number of disjunct chromosomal regions</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="bases" type="xs:int" use="required">
							<xs:annotation>
								<xs:documentation>number of bases</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="gap_percentage">
							<xs:annotation>
								<xs:documentation>percentage of the target region that was not sequenced at sufficient depth.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:float">
									<xs:minInclusive value="0"/>
									<xs:maxInclusive value="100"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="ccds_bases_sequenced">
							<xs:annotation>
								<xs:documentation>Absolute count of CCDS bases that are part of the target region and sequenced at sufficient depth.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:int">
									<xs:minInclusive value="0"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="VariantList">
					<xs:annotation>
						<xs:documentation>Variants of interest</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Variant" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Representation of a single variant</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="TranscriptInformation" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Transcript-specific annotation data</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="gene" use="required">
													<xs:annotation>
														<xs:documentation>gene name</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="transcript_id" use="required">
													<xs:annotation>
														<xs:documentation>transcript identifier</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="hgvs_c" use="required">
													<xs:annotation>
														<xs:documentation>HGVS-compliant  cDNA change</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="hgvs_p" use="required">
													<xs:annotation>
														<xs:documentation>HGVS-compliant protein change</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="Annotation" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Generic annotations of variant. These annotation are only for documnetation purposes, they should not be used for any kind of data import into other applications!</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="name" use="required">
													<xs:annotation>
														<xs:documentation>annotation name</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="value" type="xs:string" use="required">
													<xs:annotation>
														<xs:documentation>annotation value</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="chr" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation>chromosome</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="start" type="xs:int" use="required">
										<xs:annotation>
											<xs:documentation>start position</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="end" type="xs:int" use="required">
										<xs:annotation>
											<xs:documentation>end position</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="ref" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation>reference sequence</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="obs" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation>observed sequence</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="genotype" use="required">
										<xs:annotation>
											<xs:documentation>variant genotype</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="hom"/>
												<xs:enumeration value="het"/>
												<xs:enumeration value="hemi"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="causal" type="xs:boolean" use="required">
										<xs:annotation>
											<xs:documentation>If the variant is causal in the context of the diagnostics phenotype.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="de_novo" type="xs:boolean" use="required">
										<xs:annotation>
											<xs:documentation>if the variant is de-novo</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="comp_het" type="xs:boolean" use="required">
										<xs:annotation>
											<xs:documentation>if the variant is compound-heterozygous</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="mosaic" type="xs:boolean" use="required">
										<xs:annotation>
											<xs:documentation>if the variant is a mosaic variant</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="inheritance">
										<xs:annotation>
											<xs:documentation>inheritance mode of the variant (i.e. the inheritance mode of the relevant gene)</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="AR"/>
												<xs:enumeration value="AD"/>
												<xs:enumeration value="AR+AD"/>
												<xs:enumeration value="XLR"/>
												<xs:enumeration value="XLD"/>
												<xs:enumeration value="XLR+XLD"/>
												<xs:enumeration value="MT"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="class">
										<xs:annotation>
											<xs:documentation>Variant classification. 1=benign ... 5=pahogenic M=modifier</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="1"/>
												<xs:enumeration value="2"/>
												<xs:enumeration value="3"/>
												<xs:enumeration value="4"/>
												<xs:enumeration value="5"/>
												<xs:enumeration value="M"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="overall_number" use="required">
							<xs:annotation>
								<xs:documentation>Overall number of variants before filtering (in the target region if applicable)</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:int"/>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="genome_build" type="xs:string" use="required">
							<xs:annotation>
								<xs:documentation>genome build that the variant positions refer to e.g. GRCh37</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="version" use="required">
				<xs:annotation>
					<xs:documentation>version of the format</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="2"/>
						<xs:maxInclusive value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
